[Desktop Entry]
Type=Application
Icon=HelloWorld
Name=HelloWorld
Exec=/usr/bin/sailjail -p HelloWorld.desktop /usr/bin/HelloWorld
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=HelloWorld

[X-Sailjail]
Permissions=Audio;Calendar;Camera;Contacts;Documents;Downloads;Email;Internet;Messages;Microphone;Music;Phone;Pictures;Videos
OrganizationName=ru.test
ApplicationName=HelloWorld
